			<div id='menuBar'>
				<ul>
					<a href='/'><li id='home'>Home</li></a><a href='/1000'><li id='portfolio'>Portfolio</li></a><a href='http://visualjournali.st'><li id='journalism'>Journalism</li></a><a href='https://twitter.com/drawinghands'><li>Twitter</li></a>
				</ul>
			</div>
